body{
    font-size: 14px;
    font-family: sans-serif;
    background-color: aliceblue;
}
.a1{
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto;
}
.item{
    background-color: #00000050;
    height: 500px;
}
h1{

}
