.a1{
    background-color: rgb(63, 112, 160);
    display: flex;
}
.a2{
    float: left;
    width: 20%;
    background-color: rgb(168, 198, 217);
    margin-top: 20px;
    margin-left: 3.3%;
    margin-bottom: 20px;
    border-radius: 10px;
    padding-left: 10px;
}   
.b{
    float: left;
}
.b1{
    float: right;
}
.b2{
    font-size: 30px;
    font-weight: 700;
}
